#landing {
  background-image: url("../css/img/landing.jpg");
  text-align: center;
}
.foodalign {
  text-align: center;
  color: #F15A29;
}
content:"\e092";
.boder {
  border-top: 10px;
  box-shadow: 10px;
  border-left-color: #F15A29;
}
.party {
  height: 100px;
  background-color: #F15A29;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .container {
    width: 100%;
  }
  #land {
    width: 100%;
  }
}
#gly {
  display: none;
}
.font {
  color: red;
}
.btn {
  border: 4px;
  width: 200px;
  height: 50px;
  background-color: #fcffff;
  border: 1.2px solid #fcffff;
  border-color: black;
}
.ar {
  color: #dd430b;
}
.arr2{
  color: red;
  float: right;
  margi: 100px;
}
.arr1 {
  color: red;
}
.arr {
  color: #dd430b;
  width: 100px;
  height: 500px;
}
.happy {
  height: 100px;
  text-align: center;
}
#subscribe {
  background-image: url("../css/img/subscribe.jpg");
  text-align: center;
  padding-bottom: 200px;

}
#foodsbg {
  background-image: url("../css/img/foodsBg.jpg");
  height:  599 px;
}

  hover: black;
  font-size: 40px;
}
#land:hover;{
  color: black;
}
.hov:hover{
  color:
}
#land{
  position: absolute;
  bottom: 0;
  /* background: rgba(0, 0, 0, 0.5); */
  color: white;
  width: 100%;
  padding: 90px;
  text-align: center;
  font-size: 40px;
}
.color {
  color: solid white;
}
#em {
  height: 40px;
  color: white;
  width: 400px;
  background-color: rgba(176, 174, 174, 0.35);
}
#btn {
  background-color: #F15A29;
  color: white;
  height: 40px;
  width: 150;
}
.below {
  background-color: #F15A29;
  height: 300px;
  padding-top: 20px;
}
#no {
  padding: 0px;
  margin: 0px;
}
.active {
  background-color: grey;
}
.well {
  border-right: 10px;
}
.color {
  color: white;
}
.container {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}
.glyphicon glyphicon-menu-hamburger {
  width: 20px;
  height: 20px;
}
.text {
  text-align: right;
}
.shad{
  box-shadow: 2px, 2px, 2px, 2px;
}
.bg {
  background-color: #a8a8a8;
}
.footer {
  text-align: center;
}
.ou {
  text-align: center;
}
.our {
  color: #F15A29;
  text-align: center;
}
#left {
  text-align: left;
}
#right {
  text-align: right;
  padding-top: 15px;
}
.panel-info {
  padding-left: 20px;
  width: 1000px;
  align-self: center;
}
#land:hover{
  opacity: 0.4;
  color: black;
  background-color: white;
}
